APP_NAME =  dota-initial-hub

DEBUG = true 
 



POSTGRES_USER = DOTA_POSTGRES
POSTGRES_PASSWORD = DOTA_POSTGRES_PASSWORD
POSTGRES_DB = DOTA_DATABASE

POSTGRES_PORT = 5432

DATABASE_URL=postgresql+psycopg://DOTA_POSTGRES:DOTA_POSTGRES_PASSWORD@localhost:5432/DOTA_DATABASE

